* {
    margin: 0;
}

body {
    background-color: pink;
}

#top {
    width: 100%;
    height: 50px;
    /* margin-top: 0px; */
    background-color: rgba(255, 255, 255, 80%);
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid white;
}

#content {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    min-height: 90vh; 
}

#content #main {
    width: 800px;
    height: auto;
    /* margin: 30px; */
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 60%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#content #main #profile {
    width: 290px;
    height: auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid white;
}

#content #main #profile img {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
}

#content #main #repositories {
    width: 480px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid white;
}

#content #main #repositories ul {
    width: 480px;
    height: auto;
    padding: 0;
    list-style-type: none;
}

#content #main #repositorie {
    width: 456px;
    height: 116px;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid white;
}

#content #main #repositorie div {
    width: 449px;
    height: 104px;
    margin: 4px;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    min-height: 20px;
}

#content #main #repositorie a {
    text-decoration: none;
    font-size: 20px;
}

#content #main #repositorie span {
    font-size: 15px;
}

#content #main #repositorie #info {
    margin-top: auto;
    width: 449px;
    height: 20px;
    display: flex;
    flex-direction: row;
    /* 水平排列 */
    align-items: flex-end;
    /* 底部对齐 */
    justify-content: flex-start;
    /* 从左开始排列 */
}

#content #main #repositorie #info span {
    margin-right: 10px;
    /* span之间的间距 */
    font-size: 15px;
}